@font-face {
    font-family: 'Noto Serif SC', serif;
    src: url('/fonts/font.ttf');
}

html {
    font-family: 'Noto Serif SC', serif;
}

/* Increase the default font size */
html {
  font-size: 13pt;
}


